name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

    - name: Add command 
      run: echo "Hello World !"
    - name: pull the image
      run: docker pull my-image-name 
    - name: Debug environment
      run: |
           echo "Host: ${{ secrets.SSH_HOST }}"


    


      
