name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

    - name: Add command 
      run: echo "Hello World !"
    - name: Debug environment
      run: |
           echo "Host: ${{ secrets.SSH_HOST }}"


    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        timeout: "60s"
        command_timeout: "30m"
        script: |
            echo "Connected successfully!"
            cd /home/ubuntu/LOGOtest
            git pull origin main


      
